---
import Icon from "astro-icon";
import RowEntry from "../components/RowEntry.astro";
import SectionTitle from "../components/SectionTitle.astro";
import SocialIcon from "../components/SocialIcon.astro";

import { SITE_TITLE } from "../config";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/campfire-fill.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{SITE_TITLE}</title>
  </head>
  <body class="dark:bg-black">
    <button id="dark-mode-toggle" class="mb-2 mt-2">
      <Icon name="tabler:sun" class="w-6 h-6 dark:text-white" />
    </button>

    <div class="text-center mb-3">
      <h1 class="text-2xl font-bold mb-1 dark:text-white">Himothy Jr</h1>
      <h2 class="text-base dark:text-white">
        892 Momona St, Honolulu, HI 96820
      </h2>
      <h3 class="text-base dark:text-white">
        <a href="tel:+49 1234 567890" class="hover:text-red-500 dark:text-white dark:hover:text-red-500">01-47-87441</a>
        |
        <a href="mailto:himoty.jr@him.com" class="hover:text-red-500 dark:text-white dark:hover:text-red-500">himoty.jr@him.com</a>
        |
        <a class="hover:text-red-500 dark:text-white dark:hover:text-red-500"> Pronouns USD/GBP</a >
    </h3>
    </div>

    <div id="education" class="mb-6">
      <SectionTitle title="Education" />
    
      <RowEntry
        description="Purveyor of Forbidden Elixirs"
        name="08/2014 - 08/2018"
        title="Bachelor of Science"
        subTitle="Streets"
      />
    
      <RowEntry
        description="Cypherpunk"
        name="09/2018 - 06/2020"
        title="Masters "
        subTitle="Tor"
      />
    
      <RowEntry
        description="Philanderer of Note"
        name="09/2020 - Present"
        title="DPhil"
        subTitle="Satin Sheets"
      />
    </div>

    <div id="work" class="mb-6">
      <SectionTitle title="Working experience" />
    
      <RowEntry
        description="Leveraged expertise in 'Forbidden Elixirs' to create innovative and engaging experiences as a Mixologist, leading to a significant increase in customer satisfaction and repeat business."
        name="08/2014 - 08/2018"
        title="Master Mixologist"
        subTitle="The Cobbledstones Speakeasy"
      />
    
      <RowEntry
        description="Utilized knowledge of cryptography and privacy-enhancing technologies gained during 'Cypherpunk' master's program to develop secure communication systems for the company's clients."
        name="09/2020 - Present"
        title="Security Engineer"
        subTitle="Tor Network Labs"
      />
    
      <RowEntry
        description="Applied interpersonal skills honed as a 'Philanderer of Note' to manage complex relationships with clients, resulting in a 25% increase in client retention rates."
        name="09/2020 - Present"
        title="Client Relations Manager"
        subTitle="Satin Sheets Consulting"
      />
    </div>
    

    <div id="programming-experience" class="mb-6">
      <SectionTitle title="Programming experience" />

      <RowEntry
        description="Developed this website for my CV"
        name="03/2024"
        title="CV Website"
      />
    </div>

    <div id="skills" class="mb-6">
      <SectionTitle title="Skills and interests" />

      <RowEntry description="English, Spanish, French, Python, Js " name="Languages" />

      <RowEntry
        description="Pocketless pants for brokies"
        name="Technologies"
      />

      <RowEntry
        description="Yagi World babes"
        name="Interests"
      />
    </div>

    <div id="social" class="justify-center flex flex-row mb-2">
      <div class="mr-4">
        <SocialIcon icon="fa-brands:github" label="github" url="https://www.github.com/" />
      </div>
      <div class="mr-4">
        <SocialIcon icon="fa-brands:linkedin" label="linkedin" url="https://www.linkedin.com/" />
      </div>
      <div class="mr-4">
        <SocialIcon icon="fa-brands:medium" label="medium" url="https://www.medium.com/" />
      </div>
      <div class="mr-4">
        <SocialIcon icon="fa-brands:dev" label="dev" url="https://www.dev.to/" />
      </div>
      <div>
        <SocialIcon icon="ant-design:global-outlined" label="website" url="https://www.stackoverflow.com/" />
      </div>
    </div>

    <script is:inline>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }

      window.onload = function () {
        const element = document.getElementById("dark-mode-toggle");

        if (element) {
          element.addEventListener("click", () => {
            document.documentElement.classList.toggle("dark");

            localStorage.theme = document.documentElement.classList.contains(
              "dark"
            )
              ? "dark"
              : "light";
          });
        }
      };
    </script>
  </body>
</html>
